# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Backend
backend/venv/
backend/adavs.db
backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/routes/__pycache__/
backend/app/services/__pycache__/