# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Backend
backend/venv/
backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/routes/__pycache__/
backend/app/services/__pycache__/
backend/app/utils/__pycache__/
backend/.env

# Tests & coverage
.coverage
htmlcov/
coverage.xml
pytest-report.xml
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
