:root {
  --sidebar-width-expanded: 18rem;
  --sidebar-width-collapsed: 0px; 
  --sidebar-transition-speed: 0.3s;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #e0e0e0;
  background-color: #09090b; 
}