@import './theme.css';

:root {
  --sidebar-width-expanded: 18rem;
  --sidebar-width-collapsed: 0px; 
  --sidebar-transition-speed: 0.3s;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: var(--text-primary);
  background-color: var(--main-background);
}